@page "/servers"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


@* 服务器城市显示界面 *@
<h3>Servers</h3>
<br />
<div class="container-fluid text-center">
	<div class="row w-150">
		@* 按钮 *@
		@foreach (var srv in serverCityList)
		{
			<div class="card @((city != null && city == srv.City) ? "border-primary" : "")" style="width: 18rem;">
				<img src="/images/Test.jpeg" class="card-img-top" >
				<div class="card-body">
					<button type="button" class="btn btn-primary" @onclick="() => SelectCity(srv.City)">@srv.City</button>
				</div>

			</div>
		}
	</div>


</div>


@* 搜索框及搜索按钮 *@
<br />
<div>
	<input type="text" class="form-control" placeholder="搜索服务器" @bind-value="serverFilter" @bind-value:event="oninput" />
	<button class="btn btn-secondary mt-2" @onclick="HandleServerSearch">搜索</button>
</div>


@* 服务器显示界面 *@
<ul>
	@* ??空合并运算符，左侧为空取右边，右边是空的序列 *@
	@foreach (var srv in selectCitys ?? System.Linq.Enumerable.Empty<Server>() )
	{
		<li style="color:@(srv.IsOnline ? "green" : "red"); display: flex; align-items: center; gap: 8px;">
			@($"name is {srv.Name} city is {srv.City} and isonline:{(srv.IsOnline ? "在线" : "离线")}")

			<!-- Edit 链接按钮 -->
			<a href="@($"servers/Edit{srv.ServerId}")" class="btn btn-link" style="display: inline-block;">Edit</a>

			<!-- 删除表单：改为行内块，加左边距 -->
			@* <EditForm Model="selectCitys" FormName="@($"from_{srv.ServerId}")" OnValidSubmit="@(() => Delete(srv.ServerId))"
					  style="display: inline-block; margin: 0; padding: 0;">
				<button type="submit" class="btn btn-primary" style="padding: 2px 8px; font-size: 12px;">删除</button>
			</EditForm> *@

			<button type="button" class="btn btn-danger" @onclick="() => Delete(srv.ServerId)">删除</button>
		</li>
	}
</ul>


@* 增加服务器按钮 *@
<div>
	<a href="/servers/addServer" class="btn btn-primary">增加服务器</a>
</div>

@code {

	#region 字段及属性
	//城市列表
	private List<Server>? serverCityList = ServerRepository.GetCityList();

	//选择的城市服务器列表
	private List<Server>? selectCitys;

	//选择的城市
	private string? city;

	//服务器过滤字段
	private string? _serverFilter;
	//服务器过滤属性
	private string? serverFilter
	{
		get=> _serverFilter;
		set 
		{
			_serverFilter = value;
			this.selectCitys = ServerRepository.GetServersByFilter(serverFilter);
		}
	}

	#endregion


	#region 私有方法
	/// <summary>
	/// 删除指定服务器
	/// </summary>
	/// <param name="ServerId"></param>
	private void Delete(int ServerId)
	{
		if (serverCityList != null)
		{
			ServerRepository.Delete(ServerId);
			NavigationManager.NavigateTo("/servers");
		}
	}

	/// <summary>
	/// 点击事件 选择城市
	/// </summary>
	/// <param name="city"></param>
	private void SelectCity(string city)
	{
		this.city = city;
		this.selectCitys = ServerRepository.GetByCity(city);
		StateHasChanged();
	}

	/// <summary>
	/// 搜索框 处理服务器过滤
	/// </summary>
	/// <param name="args"></param>
	[Obsolete("不再采取onchange而弃用")]
	private void HandleServerFilter(ChangeEventArgs args)
	{
		this.serverFilter = args.Value?.ToString()??string.Empty;

	}

	/// <summary>
	/// 按钮 处理服务器搜索
	/// </summary>
	private void HandleServerSearch()
	{
		if (!string.IsNullOrEmpty(this.serverFilter))
		{
			this.selectCitys = ServerRepository.GetServersByFilter(serverFilter);
			this.city = null;
		}
		else
		{
			this.selectCitys = null;
		}

	}

	#endregion
}
